@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html, body, main{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

.logoHome{
    height: 200px;
}

.active{
    background-color: rgb(80 7 36);
    color:whitesmoke;
    transition: all 0.3s ease;
    border-radius: 10%;
}